<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="portfolio"></a></li>
	    		</ul>
			</nav>
			<div class="container">
				
				<a class = "btn btn-primary">Test Button</a>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:inyagweso@clarku.edu">Email</a></li>
	        		<li><a href="https://github.com/okwaroissa">github.com/okwaroissa</a></li>
				</ul>
			</footer>
		</body>
	</html>
